[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-ninja = "*"
django-ninja-jwt = "*"
six = "*"
zxcvbn = "*"
email-validator = "*"
channels = {extras = ["daphne"], version = "*"}
channels-redis = "*"
pipenv = "*"
install = "*"
django-phonenumber-field = {extras = ["phonenumbers"], version = "*"}
pillow = "*"
django-countries = {extras = ["pyuca"], version = "*"}
typing-extensions = "*"

[dev-packages]

[requires]
python_version = "3.11"
